@model Model.EL.Customer

@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Dangky", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-user"></i>
                <b> ĐĂNG KÝ</b>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label><i class="glyphicon glyphicon-user"></i> Username:</label>

                    <input name="id" placeholder="Username?" class="form-control" />
                </div>
                <div class="form-group col-sm-6">
                    <label><i class="glyphicon glyphicon-text-size"></i> Fullname:</label>
                    <input name="fullname" placeholder="Fullname?" class="form-control" />

                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label><i class="glyphicon glyphicon-lock"></i> Password:</label>

                    <input name="password" placeholder="Password?" type="password" class="form-control" />
                </div>
                <div class="form-group col-sm-6">
                    <label><i class="glyphicon glyphicon-envelope"></i> Email Address:</label>

                    <input name="email" placeholder="Email Address?" class="form-control">
                </div>
             <div class="form-group col-sm-6">
                <label><i class="glyphicon glyphicon-lock"></i> Confirm Password:</label>
                <input name="confirm" placeholder="Confirm Password?" type="password" class="form-control">
          </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label><i class="glyphicon glyphicon-picture"></i> Photo:</label>
                    <input name="photo_file" placeholder="Photo?" type="file" class="form-control">
                </div>
               
            </div>

                   @* <input name="email" placeholder="Email Address?" class="form-control" />*@

                </div>
                @*<div class="form-group col-sm-6">
                    <label><i class="glyphicon glyphicon-lock"></i> Confirm Password:</label>
                    <input name="confirm" placeholder="Confirm Password?" type="password" class="form-control">*@
            </div>
            @*   </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label><i class="glyphicon glyphicon-picture"></i> Photo:</label>
                        <input name="photo_file" placeholder="Photo?" type="file" class="form-control">
                    </div>

                </div>*@

        </div>
        <div class="panel-footer text-left">
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-ok"></i> Đăng ký
            </button>
            <b class="pull-right text-danger"><i>@ViewBag.message</i></b>
        </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
