
@{
    ViewBag.Title = "FogotPassWord";
}

<h2>FogotPassWord</h2>
@using (Html.BeginForm())
   {
    <div class="form-horizontal">
        <hr/>
            <div class="text-success">
                @ViewBag=Messagr

            </div>
            <div class="form-group">
                <cl
            </div>
    </div>
    }
