
@{
    ViewBag.Title = "FogotPassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("FogotPassWord", "User", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="glyphicon glyphicon-user"></i>
                <b> QUÊN MẬT KHẨU</b>
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label><i class="glyphicon glyphicon-user"></i> Username:</label>
                <input name="username" placeholder="Username?" class="form-control">
            </div>
            <div class="form-group">
                <label><i class="glyphicon glyphicon-envelope"></i> Email Address:</label>
                <input name="email" placeholder="Email ?" class="form-control">
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-ok"></i> Lấy lại mật khẩu
            </button>
            <b class="pull-left text-danger"><i> @ViewBag.Message</i></b>
        </div>
    </div>
}
