@model IEnumerable<Model.EL.Product>

@{
    ViewBag.Title = "FindByKeywords";
}



<h2>Tìm kiếm sản phẩm theo từ khóa</h2>
@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="panel panel-primary nn-prod">
            <div class="panel-heading text-center">
                @item.Name
            </div>
            <div class="panel-body text-center">
                <a href="#">
                    <a href="/Products/Details/@item.Id">
                        <img src="~/Content/images/items/@item.Image">
                    </a>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-4 text-left text-primary">$100</div>
                    <div class="col-xs-8 text-right">
                        <div class="btn-group btn-group-sm">
                            @*<a href="@Url.Action("Edit","Product2", new {id = item.Id}) " class="btn btn-success">
                                    <i class="glyphicon glyphicon-saved"></i>Edit
                                </a>*@
                            @*<a href="@Url.Action("Details","Product2", new {id = item.Id}) " class="btn btn-info">
                                    <i class="glyphicon glyphicon-retweet"></i>Details
                                </a>*@
                            @*<a href="@Url.Action("Delete","Product2", new {id = item.Id}) " class="btn btn-danger" onclick="confirm('Bạn chắc chắn muốn xóa sản phẩm này')">
                                    <i class="glyphicon glyphicon-trash"></i>Delete
                                </a>*@
                            <button class="btn btn-primary glyphicon glyphicon-shopping-cart"></button>
                            <button class="btn btn-danger glyphicon glyphicon glyphicon-heart"></button>
                            <button class="btn btn-success glyphicon glyphicon-envelope"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
