@using Model.EL;
@{
    DataContext db = new DataContext();
    var cate = db.Categories.ToList();
    var cart = Session["cart"];
    List<Web.Models.CartItem> list = (List<Web.Models.CartItem>)cart;
    double total = 0;
    int quanity = 0;
}



<div class="row" style="margin-left: 2px;">
    <!--ASIDE-->
    <!--Shopping Cart-->
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="col-xs-5" style="font-size: 50px;">
                <b class="glyphicon glyphicon-shopping-cart"></b>
            </div>
            <ul class="col-xs-7">
                @if (list == null)
                {
                    <li>0</li>
                    <li>0 USD</li>
                }
                else
                { 
                    foreach (var it in list)
                    {
                        quanity += it.quantity;
                        total += it.quantity * it.product.UnitPrice * (1 - it.product.Discount);
                    }
                <li>@quanity</li>
                <li>
                    @total USD
                </li>
            }

                <li><a href="/shoppingcart/showcart">Giỏi hàng</a></li>
            </ul>
        </div>
    </div>

    <!--Search-->
    <div class="panel panel-danger">
        @*action trỏ tới controller/hàm còn tham số thì vào hàm thêm đúng như name = keywords *@
        <form action="/Products/FindByKeywords" class="panel-body">
            <input id="keywords" name="keywords" placeholder="Keywords?" class="form-control" />
        </form>
    </div>

    <!--Categories-->
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Loại hàng</h3>
        </div>
        <div class="list-group">
            @foreach (var item in cate)
            {
                <a href="/Products/FindByCategory/@item.Id" class="list-group-item">
                    @item.NameVN
                    @*/Product2_User/FindByCategory/@item.Id*@
                </a>
            }

           
        </div>
    </div>

    <!--Specials-->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Mặt hàng đặc biệt</h3>
        </div>
        <div class="list-group">
            <a href="/Products/FindBySpecials/0" class="list-group-item">
               Sản phẩm đặc biệt
            </a>
            <a href="/Products/FindBySpecials/1" class="list-group-item">
               Sản Phẩm Nhiều Lượt Xem
            </a>
            <a href="/Products/FindBySpecials/2" class="list-group-item">
                Sản Phẩm Giảm Giá
            </a>
            <a href="/Products/FindBySpecials/3" class="list-group-item">
                Sản Phẩm Mới Nhất
            </a>
            <a href="/Products/FindBySpecials/4" class="list-group-item">
                Sản Bán Chạy
            </a>
        </div>
    </div>

</div>