@{ 
    Model.EL.Customer cus=( Model.EL.Customer) Session["User"];
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#hmenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/">Website Name</a>

        </div>
        <div class="collapse navbar-collapse" id="hmenu">
            <ul class="nav navbar-nav">
                <li><a href="/home/index"><i class="glyphicon glyphicon-home"></i> Trang chủ</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i> Giới thiệu</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-envelope"></i> Liên hệ</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-send"></i> Góp ý</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Hỏi đáp</a></li>
                <li class="dropdown ">
                    <a class="dropdown-toggle " data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        @if(cus != null)
                        {
                            @cus.Fullname
                        }
                        else
                        {
                            <span>Tài khoản </span>
                        }
                       
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @if (Session["User"] == null)
                        {
                            <li><a href="/user/login">Đăng nhập</a></li>
                            <li><a href="/user/FogotPassWord">Quên mật khẩu</a></li>
                            <li><a href="/user/dangky">Đăng ký</a></li>
                        }
                        else
                        {
                            if (cus.Admin == true)
                            {
                                <li><a href="/Admin/HomeA/Index">Trang quản trị</a></li>
                                <li><a href="/user/Logout">Đăng xuất</a></li>
                                <li class="divider"></li>
                                <li><a href="/order/productbought">Đơn đặt hàng</a></li>
                                <li><a href="/order/Detail">Hàng đã mua</a></li>

                            }

                            else
                            {
                                
                                <li><a href="/user/Logout">Đăng xuất</a></li>
                                <li class="divider"></li>
                                <li><a href="/order/productbought">Đơn đặt hàng</a></li>
                                <li><a href="/order/Detail">Hàng đã mua</a></li>

                            }




                        }

                    </ul>
                </li>
            </ul>
           
        </div>
    </div>
</nav>
